<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>How's the weather today?</title>
    </head>
    <body>
        <h1>Weather app</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    {{ form }} 
                    {#form.name or form both work here, since there is only 1 field#}
                </div>
                <div class="control">
                    <button class="btn btn-dark">
                        Add City
                    </button>
                </div>
                <div>
                    <p>{{message}}</p>
                </div>
            </div>
        </form>


        
        <div class='result'>
            {% if weathers != None %}
                <h3>{{weathers.city}}</h3>
                <p>{{weathers.temperature}}&deg;C</p>
                <p>{{weathers.description}}</p>
                <img src="http://openweathermap.org/img/w/{{weathers.icon}}.png">
            {% endif %}
        </div>




        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>